<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">


</head>
<body>
    <div class="container">
        <div class="title">**Checkerboard**</div>
        
        

        <div class="board">

            {% for row in range(rows): %}
            <div class="row">
                {% for column in range(columns): %}
                <div class="color{{ (row+column)%2+1 }}"></div>
                {% endfor %}
            </div>
            {% endfor %} 
        </div>
            

        



    </div>
</body>
</html>