<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Let's Count Together</h1>
    <h2>You have visited this page...</h2>
    <h3>{{ session["count"] }} times</h3>
    <form action="/count" method="post">
        <button type="submit" name="change" value="add"> Add +2 to this number</button>
        <button type="submit" name="change" value="reset"> Reset this number</button>
    </form>
</body>
</html>

